/* Fonts */

@font-face
{
    font-family: "Lato";
    font-weight: 300;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face
{
    font-family: "Lato";
    font-weight: 200;
    src: url(/fonts/Lato-Light.ttf);
}

@font-face
{
    font-family: "Lato";
    font-weight: 100;
    src: url(/fonts/Lato-Thin.ttf);
}

@font-face
{
    font-family: "Lato";
    font-weight: 400;
    src: url(/fonts/Lato-Medium.ttf);
}

@font-face
{
    font-family: "Product Sans";
    src: url(/fonts/Product_Sans.TTF);
}

@font-face
{
	font-family: "SignPainter";
	src: url(/fonts/SignPainter-HouseScript.ttf);
}

@font-face
{
	font-family: "Segoe UI";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/segoeui.ttf);
}

@font-face
{
	font-family: "Segoe UI Light";
	font-style: normal;
	src: url(/fonts/segoeuil.ttf);
}

@font-face
{
	font-family: "Segoe UI Semilight";
	src: url(/fonts/segoeuisl_1.ttf);
}

@font-face
{
	font-family: "Segoe UI Black";
	src: url(/fonts/seguibl.ttf);
}

@font-face
{
	font-family: "Segoe UI Semibold";
	src: url(/fonts/seguisb.ttf);
}

@font-face
{
	font-family: "Myriad Pro";
	font-size: normal;
	font-weight: 400;
	src: url(/fonts/MyriadPro-Regular.otf);
}

@font-face
{
	font-family: "Myriad Pro Light";
	src: url(/fonts/MyriadPro-Light.otf);
}

@font-face
{
	font-family: "Myriad Pro Cond";
	src: url(/fonts/MyriadPro-Cond.otf);
}

@font-face
{
	font-family: "Harabara";
	src: url(/fonts/7fonts.ru_Harabara.ttf);
}
/* SAN FRANCISCO */
@font-face
{
	font-family: "SF UI Display"; /*Ultralight*/
	font-style: normal;
	font-weight: 100;
	src: url(/fonts/sanfrancisco/SF-UI-Display-Ultralight.ttf);
}
@font-face
{
	font-family: "SF UI Display"; /*Thin*/
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/sanfrancisco/SF-UI-Display-Thin.ttf);
}
@font-face
{
	font-family: "SF UI Display"; /*Regular*/
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/sanfrancisco/SF-UI-Display-Regular.ttf);
}
@font-face
{
	font-family: "SF UI Display"; /*Medium*/
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/sanfrancisco/SF-UI-Display-Medium.ttf);
}
@font-face
{
	font-family: "SF UI Display"; /*Semibold*/
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/sanfrancisco/SF-UI-Display-Semibold.ttf);
}
@font-face
{
	font-family: "SF UI Display"; /*Bold*/
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/sanfrancisco/SF-UI-Display-Bold.ttf);
}
@font-face
{
	font-family: "SF UI Display"; /*Heavy*/
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/sanfrancisco/SF-UI-Display-Heavy.ttf);
}
@font-face
{
	font-family: "SF UI Display"; /*Black*/
	font-style: normal;
	font-weight: 800;
	src: url(/fonts/sanfrancisco/SF-UI-Display-Black.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Light*/
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/sanfrancisco/SF-UI-Text-Light.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Light Italic*/
	font-style: italic;
	font-weight: 200;
	src: url(/fonts/sanfrancisco/SF-UI-Text-LightItalic.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Regular*/
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/sanfrancisco/SF-UI-Text-Regular.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Regular Italic*/
	font-style: italic;
	font-weight: 300;
	src: url(/fonts/sanfrancisco/SF-UI-Text-Italic.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Medium*/
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/sanfrancisco/SF-UI-Text-Medium.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Medium Italic*/
	font-style: italic;
	font-weight: 400;
	src: url(/fonts/sanfrancisco/SF-UI-Text-MediumItalic.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Semibold*/
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/sanfrancisco/SF-UI-Text-Semibold.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Bold*/
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/sanfrancisco/SF-UI-Text-Bold.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Bold Italic*/
	font-style: italic;
	font-weight: 600;
	src: url(/fonts/sanfrancisco/SF-UI-Text-BoldItalic.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Heavy*/
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/sanfrancisco/SF-UI-Text-Heavy.ttf);
}
@font-face
{
	font-family: "SF UI Text"; /*Heavy Italic*/
	font-style: italic;
	font-weight: 700;
	src: url(/fonts/sanfrancisco/SF-UI-Text-HeavyItalic.ttf);
}

/* MYRIAD SET PRO */
@font-face
{
	font-family: "Myriad Set Pro";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/myriad-set-pro_bold.ttf);
}

@font-face
{
	font-family: "Myriad Set Pro";
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/myriad-set-pro_semibold.ttf);
}

@font-face
{
	font-family: "Myriad Set Pro";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/myriad-set-pro_medium.ttf);
}

@font-face
{
	font-family: "Myriad Set Pro";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/myriad-set-pro_text.ttf);
}

@font-face
{
	font-family: "Myriad Set Pro";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/myriad-set-pro_thin.ttf);
}

@font-face
{
	font-family: "Myriad Set Pro";
	font-style: normal;
	font-weight: 100;
	src: url(/fonts/myriad-set-pro_ultralight.ttf);
}

@font-face
{
	font-family: "Lucida Sans Unicode";
	font-style: normal;
	font-weight: 100;
	src: url(/fonts/l_10646.ttf);
}

@font-face
{
	font-family: "SEGMDL2";
	font-style: normal;
	src: url(/fonts/SEGMDL2.TTF);
}

@font-face
{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/ROBOTO-MEDIUM.TTF);
}

/* Roboto Family */

@font-face
{
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: url(/fonts/ROBOTO-MEDIUMITALIC.TTF);
}

@font-face
{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/ROBOTO-LIGHT.TTF);
}

@font-face
{
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: url(/fonts/ROBOTO-LIGHTITALIC.TTF);
}

@font-face
{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/ROBOTO-THIN.TTF);
}

@font-face
{
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: url(/fonts/ROBOTO-THINITALIC.TTF);
}

@font-face
{
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/ROBOTOSLAB-BOLD.TTF);
}

@font-face
{
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/ROBOTOSLAB-LIGHT.TTF);
}

@font-face
{
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/ROBOTOSLAB-REGULAR.TTF);
}

@font-face
{
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 100;
	src: url(/fonts/ROBOTOSLAB-THIN.TTF);
}

/* Motiva Sans Family */

@font-face
{
	font-family: "Motiva Sans";
	font-style: normal;
	font-weight: 100;
	src: url(/fonts/MOTIVASANS-THIN.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: italic;
	font-weight: 100;
	src: url(/fonts/MOTIVASANS-THINITALIC.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/MOTIVASANS-LIGHT.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: italic;
	font-weight: 200;
	src: url(/fonts/MOTIVASANS-LIGHTITALIC.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/MOTIVASANS-REGULAR.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: italic;
	font-weight: 300;
	src: url(/fonts/MOTIVASANS-REGULARITALIC.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/MOTIVASANS-MEDIUM.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: italic;
	font-weight: 400;
	src: url(/fonts/MOTIVASANS-MEDIUMITALIC.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/MOTIVASANS-BOLD.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: italic;
	font-weight: 500;
	src: url(/fonts/MOTIVASANS-BOLDITALIC.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/MOTIVASANS-EXTRABOLD.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: italic;
	font-weight: 600;
	src: url(/fonts/MOTIVASANS-EXTRABOLDITALIC.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/MOTIVASANS-BLACK.TTF);
}

@font-face
{
	font-family: "Motiva Sans";
	font-style: italic;
	font-weight: 700;
	src: url(/fonts/MOTIVASANS-BLACKITALIC.TTF);
}

/* Avalon Family */

@font-face
{
	font-family: "Avalon";
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/Avalon_Plain.ttf);
}

@font-face
{
	font-family: "Avalon";
	font-style: italic;
	font-weight: 200;
	src: url(/fonts/Avalon_Italic.ttf);
}

@font-face
{
	font-family: "Avalon";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/Avalon_Regular.ttf);
}

@font-face
{
	font-family: "Avalon";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/Avalon_Bold.ttf);
}

@font-face
{
	font-family: "Avalon";
	font-style: italic;
	font-weight: 400;
	src: url(/fonts/Avalon_Bold_Italic.ttf);
}

/* MavenPro Family */

@font-face
{
	font-family: "Maven Pro";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/MavenPro-Regular.ttf);
}

@font-face
{
	font-family: "Maven Pro";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/MavenPro-Medium.ttf);
}

@font-face
{
	font-family: "Maven Pro";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/MavenPro-Bold.ttf);
}

@font-face
{
	font-family: "Maven Pro";
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/MavenPro-Black.ttf);
}

/* Proxima Nova */ 

@font-face
{
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 100;
	src: url(/fonts/proxima-nova-thin.otf);
}

@font-face
{
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/proxima-nova-light.otf);
}

@font-face
{
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/proxima-nova-regular.otf);
}

@font-face
{
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/proxima-nova-bold.otf);
}

@font-face /* Soft Versions */ /* (1) */
{
	font-family: "Proxima Nova Soft Sb";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/proxima-nova-soft-sb-regular.ttf);
}

@font-face /* (2) */
{
	font-family: "Proxima Nova Soft Md";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/proxima-nova-soft-md-regular.ttf);
}

@font-face
{
	font-family: "DIN-Next";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/din-next-lt-pro.otf);
}

@font-face
{
	font-family: "DIN-Next";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/din-next.otf);
}

@font-face
{
	font-family: "DIN-Next";
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/din-next-lt-hvy.otf);
}

@font-face
{
	font-family: "DIN-Next";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/DINNext-bold.woff);
}

@font-face
{
	font-family: "DINNext-Hvy";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/DINNext-Hvy.woff);
}

/* HELVETICA FAMILY */

@font-face
{
	font-family: "Helvetica CE";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/HELVETICACEREGULAR.TTF);
}

@font-face
{
	font-family: "Helvetica LT35";
	font-style: normal;
	font-weight: 100;
	src: url(/fonts/HELVETICALT35THIN.TTF);
}

@font-face
{
	font-family: "Helvetica LT55";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/HELVETICA-NEUE-LT-STD-55-ROMAN-58F375D477321.OTF);
}

@font-face
{
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/HELVETICANEUECYR-BLACK.OTF);
}

@font-face
{
	font-family: "Helvetica Neue";
	font-style: italic;
	font-weight: 500;
	src: url(/fonts/HELVETICANEUECYR-BLACKITALIC.OTF);
}

@font-face
{
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/HELVETICANEUECYR-MEDIUM.OTF);
}

@font-face
{
	font-family: "Helvetica Neue";
	font-style: italic;
	font-weight: 400;
	src: url(/fonts/HELVETICANEUECYR-MEDIUMITALIC.OTF);
}

@font-face
{
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/HELVETICANEUECYR-LIGHT_0.OTF);
}

@font-face
{
	font-family: "Helvetica Neue";
	font-style: italic;
	font-weight: 300;
	src: url(/fonts/HELVETICANEUECYR-LIGHTITALIC.OTF);
}

@font-face
{
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/HELVETICANEUECYR-THIN.OTF);
}

@font-face
{
	font-family: "Helvetica Neue";
	font-style: italic;
	font-weight: 200;
	src: url(/fonts/HELVETICANEUECYR-THINITALIC.OTF);
}

@font-face
{
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 100;
	src: url(/fonts/HELVETICANEUECYR-ULTRALIGHT_0.OTF);
}

@font-face
{
	font-family: "Helvetica Neue";
	font-style: italic;
	font-weight: 100;
	src: url(/fonts/HELVETICANEUECYR-ULTRALIGHTITALIC.OTF);
}

@font-face
{
	font-family: "Helvetica LT75";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/helvetica-75-bld.otf);
}

/* HELVETICA LT STD FAMILY */

@font-face
{
	font-family: "Helvetica LTSTD";
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/helveticaltstd/HelveticaLTStd-Light.otf);
}
@font-face
{
	font-family: "Helvetica LTSTD";
	font-style: italic;
	font-weight: 200;
	src: url(/fonts/helveticaltstd/HelveticaLTStd-LightObl.otf);
}
@font-face
{
	font-family: "Helvetica LTSTD";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/helveticaltstd/HelveticaLTStd-Roman.otf);
}
@font-face
{
	font-family: "Helvetica LTSTD";
	font-style: italic;
	font-weight: 300;
	src: url(/fonts/helveticaltstd/HelveticaLTStd-Obl.otf);
}
@font-face
{
	font-family: "Helvetica LTSTD";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/helveticaltstd/HelveticaLTStd-Bold.otf);
}
@font-face
{
	font-family: "Helvetica LTSTD";
	font-style: italic;
	font-weight: 400;
	src: url(/fonts/helveticaltstd/HelveticaLTStd-BoldObl.otf);
}
@font-face
{
	font-family: "Helvetica LTSTD";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/helveticaltstd/HelveticaLTStd-Blk.otf);
}
@font-face
{
	font-family: "Helvetica LTSTD";
	font-style: italic;
	font-weight: 500;
	src: url(/fonts/helveticaltstd/HelveticaLTStd-BlkObl.otf);
}
@font-face
{
	font-family: "Helvetica LTSTD-45";
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/helveticaltstd/helvetica-neue-lt-std-45-light.otf);
}
@font-face
{
	font-family: "Helvetica LTSTD-67-CND";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/helveticaltstd/helvetica-neue-lt-std-67-medium-condensed.otf);
}
@font-face /* Compressed */
{
	font-family: "Helvetica LTSTDCM";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/helveticaltstd/HelveticaLTStd-Comp.otf);
}
@font-face
{
	font-family: "Helvetica LTSTDCM";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/helveticaltstd/HelveticaLTStd-ExtraComp.otf);
}
@font-face
{
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/BebasNeue.otf);
}
@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-Black.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-Black.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-Black.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-Black.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg'); font-weight: 900; font-style: normal; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-BlackIt.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-BlackIt.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-BlackIt.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-BlackIt.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-BlackIt.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-BlackIt.svg#SourceSansPro-BlackIt') format('svg'); font-weight: 900; font-style: italic; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-BoldIt.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-BoldIt.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-BoldIt.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-BoldIt.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-BoldIt.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-BoldIt.svg#SourceSansPro-BoldIt') format('svg'); font-weight: bold; font-style: italic; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-Bold.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-Bold.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-Bold.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-Bold.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg'); font-weight: bold; font-style: normal; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-Semibold.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-Semibold.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-Semibold.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-Semibold.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg'); font-weight: 600; font-style: normal; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-SemiboldIt.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-SemiboldIt.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-SemiboldIt.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-SemiboldIt.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-SemiboldIt.svg#SourceSansPro-SemiboldIt') format('svg'); font-weight: 600; font-style: italic; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-Regular.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-Regular.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-Regular.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg'); font-weight: normal; font-style: normal; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-It.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-It.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-It.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-It.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-It.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-It.svg#SourceSansPro-It') format('svg'); font-weight: normal; font-style: italic; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-Light.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-Light.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-Light.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-Light.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg'); font-weight: 300; font-style: normal; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-LightIt.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-LightIt.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-LightIt.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-LightIt.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-LightIt.svg#SourceSansPro-LightIt') format('svg'); font-weight: 300; font-style: italic; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-ExtraLight.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-ExtraLight.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-ExtraLight.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-ExtraLight.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg'); font-weight: 200; font-style: normal; }@font-face { font-family: 'Source Sans Pro'; src: url('/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.eot'); src: url('/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.eot?#iefix') format('embedded-opentype'), url('/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.woff2') format('woff2'), url('/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.woff') format('woff'), url('/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.ttf') format('truetype'), url('/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.svg#SourceSansPro-ExtraLightIt') format('svg'); font-weight: 200; font-style: italic; }
/* V */
@font-face
{
	font-family: "HelveticaNeue-W02-67MdCn";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/helvetica-neue-w02-67mdcn.otf);
}
@font-face
{
	font-family: "HelveticaNeue-W02-77BdCn";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/helvetica-neue-w02-77bdcn.ttf);
}
@font-face
{
	font-family: "DroidSansMono-W02";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/droidsansmono-w02-bold.ttf);
}
@font-face
{
	font-family: "scicon-font";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/scicon-font.otf);
}
@font-face
{
	font-family: "gtavicon-font";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/gtav-icon-font.ttf);
}
@font-face
{
	font-family: "Chalet-LondonSixty";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/Chalet-LondonSixty.ttf);
}
@font-face
{
	font-family: "Chalet-LondonNineteenSixty";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/chalet-londonnineteensixty.otf);
}
@font-face
{
	font-family: "Chalet-NewYorkSixty";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/Chalet-NewYorkSixty.ttf);
}
@font-face
{
	font-family: "Chalet-ParisSixty";
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/Chalet-ParisSixty.ttf);
}
@font-face
{
	font-family: "ChaletComprime-CologneSixty";
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/ChaletComprime-CologneSixty.ttf);
}
@font-face
{
	font-family: "Gotham";
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/gotham/GOTHAM-XLIGHT.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: italic;
	font-weight: 200;
	src: url(/fonts/gotham/GOTHAM-XLIGHTITALIC.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: normal;
	font-weight: 100;
	src: url(/fonts/gotham/GOTHAM-THIN.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: italic;
	font-weight: 100;
	src: url(/fonts/gotham/GOTHAM-THINITALIC.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/gotham/GOTHAM-LIGHT.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: italic;
	font-weight: 300;
	src: url(/fonts/gotham/GOTHAM-LIGHTITALIC.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/gotham/GOTHAM-MEDIUM.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: italic;
	font-weight: 400;
	src: url(/fonts/gotham/GOTHAM-MEDIUMITALIC.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/gotham/GOTHAM-BOLD.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: italic;
	font-weight: 500;
	src: url(/fonts/gotham/GOTHAM-BOLDITALIC.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/gotham/GOTHAM-BLACK.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: italic;
	font-weight: 600;
	src: url(/fonts/gotham/GOTHAM-BLACKITALIC.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/gotham/GOTHAM-ULTRA.TTF);
}
@font-face
{
	font-family: "Gotham";
	font-style: italic;
	font-weight: 700;
	src: url(/fonts/gotham/GOTHAM-ULTRAITALIC.TTF);
}
@font-face
{
	font-family: "Pricedown";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/pricedown-black.TTF);
}
@font-face
{
	font-family: "Futura PT";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/FUTURA-PT-BOOK.OTF);
}
@font-face
{
	font-family: "Futura PT";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/FUTURA-PT-HEAVY.OTF);
}
@font-face
{
	font-family: "Gunplay";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/GUNPLAY.TTF);
}
@font-face
{
	font-family: "Old English MT";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/OLDENGL.TTF);
}
@font-face
{
	font-family: "Playfair Display Black";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/PLAYFAIRDISPLAY-BLACK.OTF);
}
@font-face
{
	font-family: "Varsity";
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/VARSITY_REGULAR.TTF);
}
@font-face
{
	font-family: "TW Cen MT";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/TCM.TTF);
}
@font-face
{
	font-family: "TW Cen MT";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/TCB.TTF);
}
@font-face
{
	font-family: "FrizQuadrata";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/FQR.TTF);
}
@font-face
{
	font-family: "Calibri";
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/CALIBRIB.TTF);
}
@font-face
{
	font-family: "BankGothic";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/BANKGOTHICBOLD.TTF);
}
/* End of fonts */
